@import "./fonts.css";
@import "tailwindcss";

.font-gilroy {
  font-family: "Gilroy", sans-serif;
}

.font-eagle {
  font-family: "Eagle Horizon", cursive;
}

.bg-dark-gradient {
  background: #0b1d26;
  background: linear-gradient(
    180deg,
    rgba(11, 29, 38, 1) 0%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}
